.inputStyle {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1625px;
    margin: auto;
    gap: 40px;
}

.maxCharacters {
    font-style: italic;
}

.nextButton {
    display: flex;
    align-self: flex-start;
    padding: 18px 50px;
    border-radius: 100px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
}

.disabled {
    background-color: #e0e0e0;
    color: #9e9e9e;
    pointer-events: none;
    cursor: default;
}

@media (max-width: 768px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}