@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-lg: 1.13rem;
  --font-size-base: 1rem;
  --font-size-21xl: 2.5rem;
  --font-size-13xl: 2rem;
  --font-size-9xl: 1.75rem;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-dimgray: #4f4f4f;
  --color-gray: rgba(0, 0, 0, 0.72);

  /* Gaps */
  --gap-5xl: 1.5rem;
  --gap-57xs: -2.75rem;

  /* Paddings */
  --padding-161xl: 11.25rem;
  --padding-131xl: 9.38rem;
  --padding-21xl: 2.5rem;
  --padding-6xl: 1.56rem;

  /* border radiuses */
  --br-81xl: 100px;
}
