.macbookPro168 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-161xl) 16.31rem var(--padding-161xl) 16.38rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 1472px) {
  .macbookPro168 {
    padding-left: 0;
    padding-top: var(--padding-131xl);
    padding-right: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .macbookPro168 {
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-top: 5rem;
    padding-right: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 478px) {
  .macbookPro168 {
    padding-top: var(--padding-21xl);
    box-sizing: border-box;
  }
}
