.selectedText {
  font-weight: bold;
  color: black;
  text-decoration: none;
  border: 2px solid #1d462f;
  color: #1d462f;
  border-radius: 8px;
  padding: 6px;
  background-color: #e7e9d8;
}

.unselectedText {
  text-decoration: none;
  color: #474747;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 6px;
}

.unselectedText:hover {
  background-color: #f1efdf;
}

.sectionButtons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

@media (max-width: 578px) {
  .sectionButtons {
    display: flex;
    /* flex-direction: column; */
    gap: 8px;
  }
}
