.image3Icon {
  position: relative;
  border-radius: 10000px;
  width: 8.13rem;
  height: 8.13rem;
  object-fit: cover;
}

.contactMe {
  position: relative;
  font-weight: 600;
  color: #fff;
}

.contactMeWrapper {
  text-decoration: none;
  border-radius: var(--br-81xl);
  width: 9.5rem;
  height: 2.69rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.backgroundBlue {
  background-color: var(--color-cornflowerblue-100);
}

.backgroundBlue:hover {
  background-color: var(--color-steelblue);
}

.backgroundPurple {
  background-color: var(--color-lightpurple);
}

.contactMeWrapper:hover {
  cursor: pointer;
}

.vectorIcon {
  width: 1.09rem;
  height: 1.08rem;
}

.a9io,
.vectorIcon {
  position: relative;
}

.a9io--blue:hover,
.maxkriegers--blue:hover {
  color: var(--color-steelblue);
}

.vectorParent,
.a9io,
.maxkriegers,
.seeMore {
  text-decoration: none;
}

.vectorParent {
  width: 4rem;
  height: 1.19rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.56rem;
}

.colorBlue {
  color: var(--color-cornflowerblue-100);
}

.colorBlue:hover {
  color: var(--color-steelblue);
}

.colorPurple {
  color: var(--color-lightpurple);
}

.colorGreen {
  color: var(--color-lightgreen);
}

.backgroundGreen {
  background-color: var(--color-lightgreen);
}

.backgroundGreen:hover {
  background-color: #76dcb6;
}

.colorGreen:hover {
  color: #76dcb6;
}

.colorPurple:hover {
  color: #8e64e7;
}

.backgroundPurple:hover {
  background-color: #8e64e7;
}

.vectorParent:hover {
  cursor: pointer;
}

.locationIcon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
}

.sanFrancisco {
  margin: 0;
  position: relative;
}

.locationParent {
  width: 8.44rem;
  height: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--color-gray-100);
}

.frameGroup,
.image3Parent {
  display: flex;
  align-items: flex-start;
}

.frameGroup {
  width: 9.5rem;
  height: 6.69rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.75rem;
}

.image3Parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
}

.maxKrieger {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  text-decoration: none;
  color: black;
}

.maxkriegers {
  position: relative;
  font-size: var(--font-size-base);
}

.maxkriegers--blue {
  color: var(--color-cornflowerblue-100);
}

.maxkriegers--purple {
  color: var(--color-lightpurple);
}

.vectorIcon1 {
  position: relative;
  width: 1.08rem;
  height: 0.88rem;
}

.maxKriegerParent {
  width: 100%;
  height: 1.38rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.followedBy980 {
  flex: 1;
  position: relative;
  font-size: 0.88rem;
  color: var(--color-gray-100);
  display: inline-block;
  width: 100%;
}

.frameA {
  text-decoration: none;
  align-self: stretch;
  height: 2.69rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}

.frameALink {
  text-decoration: none;
}

.frameALink:hover > * {
  opacity: 0.7;
}

.lookingToLive {
  margin: 0;
  align-self: stretch;
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 2.5rem;
}

.expanded {
  -webkit-line-clamp: none;
}

.content {
  width: 100%;
  line-height: 1.2em; /* adjust to match your text size */
  max-height: 2.4em; /* adjust to match your text size */
}

.seeMore {
  position: absolute;
  bottom: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-base);
}

.seeMore--blue {
  color: var(--color-cornflowerblue-100);
}

.seeMore--purple {
  color: var(--color-lightpurple);
}

.wants {
  font-weight: 600;
}

.referrerContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.referrerLink {
  color: var(--color-cornflowerblue-100);
}

.referrerContainer:hover {
  opacity: 0.7;
}

.wants1YearLeaseContainer {
  margin: 0;
  flex: 1;
  position: relative;
  display: inline-block;
  /* width: 20.06rem; */
}

.frameContainer,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.frameContainer {
  align-self: stretch;
  gap: var(--gap-base);
  color: var(--color-darkslategray);
}

.frameParent {
  box-sizing: border-box;
  border-radius: 16px;
  background-color: transparent;
  border: 1px solid #898989;
  padding: 1.5rem;
  gap: var(--gap-base);
}

.bottomFrame {
  gap: var(--gap-base);
  color: var(--color-darkslategray);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.houseName {
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-weight: 600;
}

.twitterProfileContainer {
  display: flex;
  flex-direction: column;
}

.nameAndHandleContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.smallExtension {
  margin-right: 4px;
}

.biggerExtension {
  margin-right: 8px;
}
