.selectedText {
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-bottom: 4px solid black;
}

.addInfoText {
  margin-bottom: 16px;
}

.directoryContainer {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.lookingHousematesContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 24px;
}

.unselectedText {
  text-decoration: none;
  color: var(--color-gray-100);
}

.topArea {
  border-bottom: 1px solid #808080;
}

.directoryInviteSettings {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.addMeButton {
  border-radius: 100px;
  padding: 18px 30px 18px 30px;
  background-color: #1d8d64;
  color: white;
  font-weight: 600;
  text-decoration: none;
  margin-right: 24px;
  align-self: flex-start;
}

.addMeButton:hover {
  background-color: #125e42;
}

.sectionButtons {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.settingsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e2e2e2;
  text-decoration: none;
}

.settingsButton:hover {
  background-color: #d5d5d5;
}

.gearIcon {
  width: 50%;
  height: 50%;
}

.inviteSettingsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Grid stuff */

.container {
  margin: 0 auto;
  padding: 20px 80px;
  box-sizing: border-box;
  max-width: 1625px;
}

.containerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 24px;
  margin-bottom: 40px;
}

@media (max-width: 1625px) {
  .container {
    max-width: 1400px;
    padding: 20px 60px;
  }
  .containerGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1275px) {
  .container {
    max-width: 1000px;
    padding: 20px 60px;
  }
  .containerGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 885px) {
  .container {
    max-width: 650px;
    padding: 60px 60px;
  }
  .containerGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 578px) {
  .directoryInviteSettings {
    display: flex;
    flex-direction: column-reverse;
    justify-content: left;
    padding-bottom: 16px;
    gap: 24px;
  }

  .sectionButtons {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .topArea {
    border-bottom: 0px;
  }
  .inviteSettingsContainer {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (max-width: 490px) {
  .container {
    padding: 16px 16px;
    max-width: 490px;
  }
  .containerGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 406px) {
  .container {
    max-width: 406px;
    padding: 0px 0px;
  }
}
